<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <title>Document</title>
</head>
<header>
  
  <a type ="submit" href="/cadastro">Cadastro</a>
  <a type ="submit" href="/detalhes" >Detalhes</a>

</header>

<body>

    <h1 id= text>Bem vindo a Pokedex</h1>
    
    <section id="conteudo">
      <div class="box">
      <ul>
        <% pokedex.forEach(item => { %>
        <li><img src=<%= item.Imagem %>><br>
        <%= item.Nome %> <%= item.Tipo %>
        </li>
        <% }) %>
      </ul>
      </div>
    </section>
    <script src="/js/script.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
</body>
</html>